.upon{ 
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top{
    display: flex;
    align-items: center;
    padding: 6px;
    float: right;
    justify-content: flex-end;
}

.sub-top{
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
}

.Gm{
    display: inline-block;
    padding-left: 15px;
}

.Im{
    display: inline-block;
    padding-left: 15px;
}

.subb-top{
    float: right;
}

.impun{
    display: inline-block;
    padding-left: 15px;
}

.iminc{
    display: inline-block;
    padding-left: 15px;
}

#incog{
    width: 30px;
}

#puntos{
    width: 30px;
}

.middle{
    display: flex;
    padding: 6px;
    float: right;
    flex-direction: column;
    align-items: center;
}
.RNNXgb{
    display: flex;
    padding: 2px;
    float: right;
    flex-direction: column;
    align-items: center;

}
.SDkep{
    display: flex;
    padding: 2px;
    float: right;
    flex-direction: column;
    align-items: center;
}
.uFMOof{
    display: flex;
    padding: 2px;
    float: right;
    flex-direction: column;
    align-items: center

}
.buscador{
    display: flex;
}

.busc-barra{
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fefeff;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 700px;
    width: max-content;
    max-width: 700px;

}
#gogl{
    max-height: 100%;
    max-width: 22%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

#lupa{
    display: flex;
    width: 20px;
}

#micro{
    width: 20px;
}